<section class="bg-gray-light">
  <div
    class="centered px-2 sm:px-16 py-10 min-h-[283px] flex flex-col gap-10 justify-between items-center md:flex-row"
  >
    <h1
      class="text-4xl text-center flex-[5] max-w-[608px] md:text-left lg:text-5xl"
    >
      Page Title: <%= configValue %>
    </h1>

    <div
      class="flex gap-7 flex-[4] max-w-[435px] justify-center md:justify-end"
    >
      <div
        class="bg-white rounded-2xl min-w-[140px] aspect-square px-4 flex-1 flex items-center justify-center"
      >
        <img src="/logos/github-logo.svg" alt="Github" />
      </div>

      <div
        class="bg-white rounded-2xl min-w-[140px] aspect-square px-4 flex-1 flex items-center justify-center"
      >
        <img src="/logos/github-logo.svg" alt="Github logo" />
      </div>
    </div>
  </div>
</section>
